<div>
    <div>
        <button>Crear Categoría</button>
        <div>
            <input type="text" placeholder="Buscar">
            <button>🔍</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           <!-- @for (categoria of ; track ) {
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.descripcion }}</td>
                <td><a>Modificar</a></td>
            </tr>
            } -->
        </tbody>
    </table>
</div>